<p style="font-weight:bold">Welcome to InterEthos!</p>

<p>The goal of this program is to revolutionize the process of making peace in the world, through the measuring and sharing of spirit.</p>

<p>This is not a small goal, we know.</p>

<p>We hope you might find this interesting enough, and plausible enough to lend a hand or a heart.</p>

<p>Haven't been here before? You might want to see <span style=background-color:<%= bg_for_highlights %>> the top section of our <%= link_to "About", :controller => :welcome, :action => :about %> </span>page.</p>

<p>Best wishes.</p>

<p>The Crew</p>
