<p>
  <b>Group:</b>
  <%=h @groups_happening.group.name %>
</p>

<p>
  <b>Happening:</b>
  <%=h @groups_happening.happening.name %>
</p>


<%= link_to 'Edit', edit_groups_happening_path(@groups_happening) %> | 
